.myButton {
    border: 2px solid teal;
    background-color: teal;
    opacity: 0.8;
    color: #fff;
    padding: 7px 15px;
    margin: 10px 5px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 0 5px #fff;
    font-family: 'Roboto';
}

.myButton:hover {
    opacity: 1;
}