*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}


.good-enter {
  transform: translateX(350px);
}
.good-enter-active {
  transform: translateX(0px);
  transition: opacity 500ms ease-in;
}
.good-exit {
  transform: translateX(0px);
}
.good-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
